extends ../layouts/layout.pug

block content
  .container
    h2 You're nearly there...
    p.lead We’ve just sent an email to
      = ' '
      strong mulleyjb@parliament.uk
      = ' to confirm you’d like to receive email updates from us.'
    p.lead Please click on the link in the email to finish signing up for email updates from UK Parliament.
    hr
    p If you’ve entered the wrong email address, simply go back and type it again.
    p If you haven't received the confirmation email, try checking your spam folder and if you still haven't been sent an email, contact support.
    p Go to the parliament.uk homepage.
