body(style='margin:0')
  img(src='/images/screencap.png', width='1280px', usemap='#screencap')
  map(name='screencap')
    area(shape='rect', href='/', coords='750,19,833,36')
    area(shape='rect', href='/', coords='675,833,941,855')
