extends ../layouts/layout.pug

block content
    section#content.section--primary
        .container
            h1 Success, we've removed your details
            p You won’t get hear from us again. Please note, you might get email updates in the next 24 hours whilst our system removes your details.
            p Go to the
                = ' '
                a(href='http://parliament.uk') parliament.uk homepage
                = '.'
