doctype html
html(lang="en")
  head
    title Carbon Emissions Reductions Bill [HL] 2016-17 &emdash; UK Parliament
  body(style='margin:0')
    img(src='/images/email.png', width='1260px', usemap='#screencap')
    map(name='screencap')
      //- area(shape='rect', href='/', coords='750,19,833,36')
      area(shape='rect', href='/subscriptions', coords='464,495,745,521')
