extends ../layouts/layout.pug

block content
    section#content.section--primary
        .container(style='max-width:960px')
            .status--highlight.theme--success You’ve successfully signed up to
                = ' '
                strong Carbon Emission Reductions Bill [HL] 2016-17
                = ' updates.'
    .container(style='max-width:960px').block.theme--transparent
            p(style='margin-bottom:0') Email preferences
            h1 Manage your subscriptions
            p(style='margin-top:36px') Edit the email updates you get from us
            a(href='#') Manage your settings and personal details
    .container(style='max-width:960px')
        ul.list--tab
            li.active Your subscriptions
            li
                a(href='/all-subscriptions') All available subscriptions
    .container(style='display:flex;max-width:960px;justify-content:space-between;')
        .left(style='flex: 0 0 20%')
            p You are subscribed to 3 emails.
            .btn--primary Unsubscribe from all
        .right(style='flex: 0 0 75%')
            h2.lead(style='margin-top:0;margin-bottom:18px;') Your subscriptions
            +form(id='subscriptions' action='#')
                +fieldset
                ul.list--block
                    li
                        .list--details
                            strong
                                +input('checkbox', 'Carbon Emission Reducations Bill [HL] 2016-2017', 'test', 'one')(checked)
                            p.input--description Alerts on any updates to this bill.
