extends ../layouts/layout.pug

block content
    unless cookies.seen_confirmation
        section#content.section--primary
            .container
                .status--highlight.theme--success You’ve successfully signed up to
                    = ' '
                    strong Carbon Emission Reductions Bill [HL] 2017-19
                    = ' updates.'
    unless cookies.seen_confirmation
        .container.block.theme--transparent
            p(style='margin-bottom:0') Email preferences
            h1 Manage your subscriptions
            p(style='margin-top:36px') Edit the email updates you get from us
            a(href='/edit-details') Manage your settings and personal details
    else
        .container(style='margin-top:36px;').block.theme--transparent
            p(style='margin-bottom:0') Email preferences
            h1 Manage your subscriptions
            p(style='margin-top:36px') Edit the email updates you get from us
            a(href='/edit-details') Manage your settings and personal details
    .container
        ul.list--tab
            li.active Your subscriptions
            li
                a(href='/all-subscriptions') All available subscriptions
    .container(style='display:flex;justify-content:space-between;')
        .left(style='flex: 0 0 20%;font-size: 16px;')
            p.subscribeParagraph You are subscribed to #{topics.length}
                if topics.length == 1
                    = ' email.'
                else
                    = ' emails.'
            if topics.length
                a.btn--primary(href='/unsubscribe') Unsubscribe from all
            else
                a.btn--disabled(href='#') Unsubscribe from all
        #yoursubs.right(style='flex: 0 0 75%')
            h2.lead(style='margin-top:0;margin-bottom:18px;') Your subscriptions
            if topics.length
                +form(id='subscriptions' action='#')
                    +fieldset
                    ul.list--block
                        each topic in topics
                            li
                                .list--details
                                    strong
                                        +input('checkbox', topic.Name, topic.Code, topic.Code)(checked)
                                    p.input--description Alerts on any updates to this bill.
                                    .inline-alert.removal You are now unsubscribed
            else
                p You aren’t currently subscribed to any emails.
