extends ../layouts/layout.pug

block content
    unless cookies.seen_confirmation
        section#content.section--primary
            .container
                .status--highlight.theme--success You’ve successfully signed up to
                    = ' '
                    strong Carbon Emission Reductions Bill [HL] 2016-17
                    = ' updates.'
    .container.block.theme--transparent
            p(style='margin-bottom:0') Email preferences
            h1 Manage your subscriptions
            p(style='margin-top:36px') Edit the email updates you get from us
            a(href='/edit-details') Manage your settings and personal details
    .container
        ul.list--tab
            li.active Your subscriptions
            li
                a(href='/all-subscriptions') All available subscriptions
    .container(style='display:flex;justify-content:space-between;')
        .left(style='flex: 0 0 20%')
            p.subscribeParagraph You are subscribed to #{topics.length} emails.
            a.btn--primary(href='/unsubscribe') Unsubscribe from all
        .right(style='flex: 0 0 75%')
            h2.lead(style='margin-top:0;margin-bottom:18px;') Your subscriptions
            +form(id='subscriptions' action='#')
                +fieldset
                ul.list--block
                    each topic in topics
                        li
                            .list--details
                                strong
                                    +input('checkbox', topic.Name, topic.Code, topic.Code)(checked)
                                p.input--description Alerts on any updates to this bill.
                                //- .inline-alert.success You are now subscribed
                                //- .inline-alert.removal You are now unsubscribed

